spring:
  sql:
    init:
      mode: always
  application:
    name:
      bookstore-server
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
  datasource:
    url:
    username:
    password: